@CHARSET "UTF-8";
/*body{background-color:#555753;background-image:url(/LayoutTrain/PIC/searchbackground.jpg);background-position:top;background-repeat:no-repeat;}*/
body{background-color:#ffffff;font-size:15px}
a{text-decoration:none;color:black;margin:0;padding:0}
.center{position:relative;left:50%;width:80%;margin-left:-35%;background-color:white}
.centerB{position:relative;left:50%;width:80%;margin-left:-35%;}
ul{list-style-type:none;display:inline}
li{display:inline}
div.clear{clear:both}
hr{background-color:#eeeeec;border:0;height:1px}

div.search_bar{float:left;background-image:url(/LayoutTrain/PIC/king.png);background-repeat:no-repeat;background-position:100% 0%;width:90%}

.search_input{float:left;background-color:white;border:1px solid #babdb6;margin:0;padding:0;height:20px;width:400px;font-size:20px}
#search_button{height:23px;float:left;margin:0;padding:0;background-color:#11bdff;color:white}
#search_img{float:left}
p{display:inline;}
div.B_zone{background-color:#eeeeec}
hr.b_hr{background-color:#dadada;border:0;height:1px;width:60%;position:absolute;display:inline-block}
a.b_a{background-color:#888a85;padding:10px 20px;color:black}
a.b_a:hover{background-color:#729fcf;color:white}

ul.more{display:block;padding:0}
img.drama{flaot:left;height:200px;width:100%;}
li.drama{display:block;margin:5px 0;border:1px solid #babdb6;background-color:white;width:100%}
a.drama_img{color:black;float:left;margin:10px 5px;padding:0;width:20%}
a.drama{color:black;float:left;margin:0;padding:0}
a.drama_h{color:black;float:left;margin:0;padding:0}
p.drama{float:left;width:70%}
hr.drama{float:left;background-color:#d3d7cf;border:10px;width:75%;}
input.drama{float:left;margin:5px 10px}
input.drama:hover{border:1px solid #204a87; }

a.top_login{background-color:#1e6f8d;color:white}
a.top_login:hover{background-color:#11bdff}

a.top:hover{width:250px;height:auto;color:#333;
filter:progid:DXImageTransform.Microsoft.Shadow(color=#909090,direction=120,strength=3);/*ie*/
-moz-box-shadow: 2px 2px 20px #909090;/*firefox*/
-webkit-box-shadow: 2px 2px 20px #909090;/*safari或chrome*/
box-shadow:2px 2px 20px #909090;/*opera或ie9*/}

div.c_zone_l{float:left;margin:5px;width:62%}

div.c_zone_ltop{width:100%;background-color:#d3d7cf;margin:5px 0}
div.leftpart{float:left}
div.rightpart{float:right}


div.c_zone_r{float:right;border:1px solid #00ffff;margin:5px;width:35%}
img.c_zone_img{margin:5px;padding:0;width:100%;float:left}

div.c_zone_content_l{width:30%;float:left;margin:5px 10px 0 0}
div.c_zone_content_r{width:65%:float:left;margin:10px 0 }


li.c_zone_content{float:left;background-color:white;width:100%}
div.c_zone_content_h{width:65%;float:left;display:block}
div.label{border:1px solid #000000;background-image:url(/LayoutTrain/PIC/like.png);background-repeat:no-repeat;background-size:20px 100%;display:inline}
.label_h{margin:0 0 0 25px}

div.listControl{color:#3465a4;background-color:#babdb6;display:inline;}

